.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.not-found__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
  color: #000;
  margin-top: 246px;
  margin-bottom: 0;
}

.not-found__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000;
  margin-top: 5px;
  margin-bottom: 0;
}

.not-found__link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #ff6838;
  margin-top: 184px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1000px) {
  .not-found__title {
    margin-top: 408px;
  }

  .not-found__link {
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 700px) {
  .not-found__title {
    margin-top: 329px;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }

  .not-found__link {
    margin-bottom: 30px;
    margin-top: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}
