.promo {
  max-width: 100%;
  background-color: #465dff;
  background-image: url(../../images/landing-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 320px;
  padding-top: 184px;
  padding-bottom: 224px;
}

.promo__text {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: center;
  margin: 0 auto 0;
  max-width: 730px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 850px) {
  .promo {
    padding-top: 326px;
    padding-bottom: 342px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    background-size: 248px;
    padding-top: 326px;
    padding-bottom: 342px;
  }

  .promo__text {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
    max-width: 300px;
  }
}
