.navigation {
  display: none;
}

.navigation__main-burger {
  background-image: url("../../images/main-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 44px;
  width: 44px;
  background-color: transparent;
  margin-top: -3px;
  cursor: pointer;
}

.navigation__burger {
  background-image: url("../../images/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 44px;
  width: 44px;
  background-color: transparent;
  margin-top: -3px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .navigation {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .navigation__burger {
    width: 40px;
    height: 43px;
    margin-top: 0;
  }

  .navigation__main-burger {
    width: 40px;
    height: 43px;
    margin-top: 0;
  }
}
